/backup/
/detectron2/
/images/
/uploads/
json_files
app.log
/api_env/
/faster_rcnn/
.dockerignore
/docker/
/chroma_db1/
.env
chroma.log
desktop.ini
__pycache__
__pycache__/functions.cpython-310.pyc
__pycache__/main.cpython-310.pyc
__pycache__/rag.cpython-310.pyc
DistilBertModel/
