version: "3.8"

services:
  api:
    build: .
<<<<<<< Updated upstream
    command: sh -c "uvicorn Main:app --host 0.0.0.0 --port 8001 --loop asyncio --workers 3"
=======
    container_name: topit-api
    command: >
      uvicorn Main:app
      --host 0.0.0.0
      --port 8001
      --loop asyncio
      --workers 1
>>>>>>> Stashed changes
    env_file:
      - .env
    volumes:
      - .:/app
    ports:
      - "8001:8001"   # optional but useful for testing
    depends_on:
      - chromadb
    networks:
      - topit

  chromadb:
    image: chromadb/chroma:latest
    container_name: topit-chromadb
    restart: always
    volumes:
      - ./chroma_db1:/chroma_db
    environment:
      CHROMA_DB_DIR: /chroma_db
      CHROMA_PERSIST_DIRECTORY: /chroma_db
    networks:
      - topit

networks:
  topit:
    external: true
