# Core Framework
fastapi
uvicorn[standard]
python-dotenv
nest-asyncio
requests
Pillow
python-multipart

# Computer Vision
opencv-python-headless
easyocr
PyMuPDF
layoutparser

# Machine Learning & NLP
torch
torchvision
huggingface-hub==0.26.2
sentence-transformers==3.2.1
transformers==4.46.2
scikit-learn==1.6.0
inflect
nltk
textstat
imbalanced-learn==0.13.0

# LangChain Ecosystem
pydantic==2.9.2
langchain==0.3.7
langchain-chroma==0.1.4
langchain-community==0.3.5
langchain-core==0.3.15
langchain-huggingface==0.1.2
langchain-openai==0.2.6
langchain-text-splitters==0.3.2
langsmith==0.1.142

chromadb
llama-index
llama-parse
